:root {
    --clr-dark: #7937e2;
    --clr-ligth: #498aca;
    --clr-accent: #8af037;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 5em 0 0 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-ligth);
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 10px solid var(--clr-dark)
}

.item{
    padding: 0.5em;
    background-color: #9a71fb;
    font-weight: 700;
    color: var(--clr-accent);
    border: 10px solid var(--clr-accent);
}